name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./logging-backend
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/logging-api:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: 54.36.100.35
          port: 49222
          username: deploy
          key: ${{ secrets.VPS_DEPLOY_KEY }}
          script: |
            cd ~/Estudos/SAP
            docker-compose pull
            docker-compose up -d
            echo "✅ Deploy concluído!"
